/* Navigation bar */
body {
  overflow-y: hidden;
}
.center {
  text-align: center;
}
.navbar {
  padding: 0 0 5px 0;
  background-color: #f7ef8a;
  position: relative;
  width: 100%;
  justify-content: center;
}

.sup-price-logo{
  border-radius: 1rem;
  height: 10vh;
}

.layer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10px;
  background-color: #ff9900bb;
}
.navbar-brand {
  color: #ff9900;
  width: 20%;
  font-size: 1.7em;
  padding-left: 0.6rem;
  margin-right: 2rem;
  text-align: center;
}
.navbar-brand:hover {
  color: #ff9900;
}
.input-group {
  background-color: white;
  height: 2em;
  max-width: 30rem;
  min-width: 10rem;
  border-radius: 15em;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 2rem;
}
.text-container {
  padding-left: 1em;
  width: 30rem;
  min-width: 3rem;
  height: 2em;
  border: 0;
  border-radius: 15em;
  outline: none;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 4em;
  position: relative;
  background-color: #ff9900 !important;
  color: #ffffff;
}
#search:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 153, 0, 0.4);
}
#img-search {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 1.6em;
  color: gray;
  margin-right: 0.28em;
}
#img-search:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 153, 0, 0.4);
}
#ai-search {
  margin-left: 1em;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.78em;
  width: 3.2em;
  color: #ffffff;
  background-color: #ff9900 !important;
  margin-right: 0.28em;
}
#ai-search:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 153, 0, 0.4);
}
.title {
  align-items: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.col-7 {
  margin: 0 24px;
}
.category {
  padding-left: 0;
  width: 6.3em;
  height: 24px;
}
.web-shop {
  min-height: 4rem;
  height: 11rem;
  margin: 0 0 1em 0;
}
.middle-line {
  position: relative;
  z-index: 1;
}
.middle-line:before {
  content: "";
  position: absolute;
  top: 16%;
  right: 0px;
  width: 1px;
  margin: 0 4px;
  border-bottom: 8em solid rgb(214, 214, 214);
}
.left-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-line {
  /* border-bottom:solid 1em transparent ;
    box-shadow: 0 1px 0 0 black; */
  position: relative;
  z-index: 1;
}
.bottom-line:before {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 25%;
  width: 50%;
  border-bottom: 1em solid transparent;
  box-shadow: 0 1px 0 0 rgb(214, 214, 214);
}
.right-col {
  min-width: 7rem;
  height: 12rem;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}
.right-col::-webkit-scrollbar {
  height: 12px;
}
.right-col::-webkit-scrollbar-track {
  background-color: #fff;
}
.right-col::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f7ef8a;
}
.right-col::-webkit-scrollbar-thumb:hover {
  background-color: #ff9900;
}
.hktvmall {
  background-color: #bddb4d;
}
.ztore {
  background-color: #a6093d;
}
.Parkn {
  background-color: #292d84;
}
.product-card {
  margin-right: 0.33em;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 7rem;
  min-height: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.product-info {
  font-size: 0.8rem;
}
.product-image {
  background-color: rgb(223, 223, 223);
  min-width: 3rem;
  min-height: 3rem;
  width: 6rem;
  height: 6rem;
}
.product-title {
  font-size: 0.8em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
  text-decoration: none;
}
.product-title:hover {
  color: #ff9900;
}
.product-price {
  color: red;
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
}
h1 {
  z-index: 5;
  position: relative;
  font-size: 7vw;
  top: 0;
  color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: #ff9900bb;
}
h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 110%;
  color: #ff9900;
  -webkit-text-stroke: #ff9900;
  border-right: 2px solid #ff9900;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.slider {
  margin: 1em;
  width: 500px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  width: 200px;
  height: 100px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 6;
}
.slider::before {
  top: 0;
  right: 0;
}
.slider::after {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
.slider .slider-track {
  display: flex;
  width: calc(250px * 6);
  animation: scroll 9s infinite linear;
}
.loading-cart {
  color: #ff9900;
  font-size: 4em;
  width: 250px;
  height: 100px;
}
@keyframes scroll {
  0% {
    transform: translateX(calc(-250px * 3));
  }
  100% {
    transform: translateX(0%);
  }
}
.image-input {
  position: fixed;
  margin: 0;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 80%;
  text-align: center;
  background-color: #ff9900dd;
  border: 10px solid #f7ef8a;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#img {
  color: #ffffff;
}
#blah {
  color: #ffffff;
  max-width: 250px;
  max-height: 250px;
}
.file-insert {
  margin: 0.5em;
}
.img-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f7ef8a;
  width: 4em;
  height: 2em;
  margin-bottom: 0.5em;
}
.img-btn:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 153, 0, 0.4);
}
.search-result {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.result-row {
  margin: 0.5em;
  width: auto;
}
.AI-img-result {
  background-color: #f7ef8a;
  border: 4px solid #f7ef8a;
  border-radius: 15px;
  text-decoration: none;
  color: #ff9900;
}
.AI-img-result:hover {
  color: #c77700;
}
